@charset 'utf-8';

:root {
  --primary-color: #54af54;
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

.flex {
  display: flex
}

.flex-center {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-15 {
  gap: 15px;
}

.primary {
  color: #fff;
  font-weight: 600;
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  width: 150px;
  height: 45px;
  border-radius: 5px;
}

.secondary {
  color: #fff;
  font-weight: 600;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  width: 150px;
  height: 45px;
  border-radius: 5px;
}

main {
  color: #fff;
}

header {
  height: 65px;
  line-height: 65px;
  background-color: var(--primary-color);
  color: #fff;
  h1 {
    font-size: 2.8rem;
    font-weight: 500;
  }

  nav {
    ul {
      gap: 1.5rem;
      list-style: none;

      li {
        a {
          color: #fff;
          text-decoration: none;
          font-size: 2rem;
          font-weight: 500;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.banner {
  height: calc(100svh - 65px);
  background-image: url('../images/Banner.jpg');
  background-size: cover;
  background-position: center;
  display: Grid;
  place-items: center;

  h2 {
    font-size: 3.5rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .text-box {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.gallery {
  padding: 60px 20px;
  height: 600px;
  color: #000;
  background-color: #f9f9f9;

  .container {

    h2 {
      font-size: 2.5rem;
      font-weight: 600;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.2rem;
      margin-bottom: 40px;
      color: #555;
    }

    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 20px;

      .gallery-item {
        height: 100%;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.03);
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;
        }
      }
    }
  }
}
